<nav>
            <div class="logo">
                <img src="../img/logo.png" alt="Trends Logo">
            </div>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <div class="serach-box">
                <div class="search-bar">
                    <input type="text" placeholder="Search cora.....">
                </div>
                <div class="search-btn">
                    <button><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
                            stroke-linejoin="round" class="lucide lucide-search-icon lucide-search">
                            <path d="m21 21-4.34-4.34" />
                            <circle cx="11" cy="11" r="8" />
                        </svg></button>
                </div>
            </div>
            <div class="cart-box">
                <button >cart</button>
            </div>
            <div class="user-profile">
                <a href="./loginsignup.html" class="profile-icon"> <svg xmlns="http://www.w3.org/2000/svg" width="50"
                        height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
                        stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-circle-user-round-icon lucide-circle-user-round">
                        <path d="M18 20a6 6 0 0 0-12 0" />
                        <circle cx="12" cy="10" r="4" />
                        <circle cx="12" cy="12" r="10" />
                    </svg></a>
            </div>
        </nav>

<script src="../scripts/index.js"></script>
